/* Fonts Section */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Font Section end */

/* Shared Style Start */

* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  padding: 20px 24px;
  background-color: #ff900e;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  border: 0;
  cursor: pointer;
}
/* Shared Style End */

/* Header Realated Syles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 500;
  font-size: 1em;
}
nav > ul a {
  text-decoration: none;
  color: #424242;
}

/* Banner Section */

.banner-content {
  max-width: 860px;
  text-align: center;
  margin: 0 auto;
}
.banner-content > .banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner-content > .banner-description {
  color: #727272;
}

.banner img {
  margin-top: 50px;
  width: 100%;
}

/* Responsive */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
}
