/* Fonts Section */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Font Section end */

/* Shared Style Start */

* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  padding: 20px 24px;
  background-color: #ff900e;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  border: 0;
  cursor: pointer;
}
/* Shared Style End */
